:root {
    --medium: hsl(283, 92%, 62%);
    --dark: hsl(257, 86%, 16%);
    --darkclear: hsla(257, 86%, 16%, 0.8);
    --light: hsl(202, 100%, 92%);
    /* --lightclear: hsl(202, 100%, 92%, .5); */
    --lightclear: hsla(202, 100%, 92%, 0.5);
    --transparentyellow: hsla(60, 100%, 50%, 0.8);
}

* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h3, h4, h5 {
    display: flex;
    justify-content: center;
    color: var(--light);
}

h1 {
    display: flex;
    justify-content: center;
    color: var(--transparentyellow)
}

.button {
    border: 1px solid var(--medium);
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    background-color: var(--dark);
    color: var(--light);
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: var(--lightclear);
    border: 1px solid var(--transparentyellow);
}

.buttonContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin: 15px;
    border-bottom: 1.5px solid var(--transparentyellow);
}

#button-icon {
    color: var(--transparentyellow);
    display: inline;
}

/* outer question container */

.container {
    border: 2px solid var(--medium);
    border-radius: 5px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px;
}

body {
    background-color: var(--dark);
}

.question-text {
    font-weight: lighter;
    display: flex;
    flex-wrap: wrap;
}